body {
  text-align: center;
  position: relative;
}

.page {
  background: whitesmoke;
  height: 100vh;
  display: grid;
  grid-template-rows: minmax(min-content, 65px) 1fr minmax(min-content, 65px);
}

header, footer {
  background: skyblue;
}

header {
  display: grid;
  grid-template-columns: 1fr 60px 1fr;  
}

